body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

h1 {
  padding-left: 25px;
  font-size: 1.5em;
  font-weight: bold;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #448e00;
  height: 100%;
  width: 100px;
}

nav {
  background: #002e65;
  color: white;
  height: 50px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.museum {
  position: relative;
}

h2 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.hero-image {
  height: 100%;
  width: 100%;
}

article {
  padding-bottom: 20px;
  padding-top: 5px;
}

p {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 250px;
  background-color: #d9e2ee;
  align-items: center;
}

.info-box {
  height: 150px;
  width: 30%;
  color: black;
  font-weight: bold;

}

.denver-pics {
  height: 100%;
  width: 100%;
}

footer {
  padding-bottom: 20px;
  padding-top: 5px;
}
